# Scrape data from Ookla Web Page


> As long as we this provider don't offer an API to extract data from the hosted servers, i'll decide to make web scrapping, below the file that will automate the extraction in a CSV file per month and per technology (web,ios,android) for the last Quarter of 2018.

In [ ]:
from splinter import Browser
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import time
#import User/Pass

from config import email
from config import password

options = webdriver.ChromeOptions()
prefs = {
    "download.default_directory" : "/Users/jahirmunguia/Dropbox/TECMC201811DATA2/ETL-Project/Downloads",
    "download.directory_upgrade": "true",
    "download.prompt_for_download": "false",
    "disable-popup-blocking": "true"
}

chrome_options = webdriver.ChromeOptions()
options.add_experimental_option("prefs", prefs)
chrome_options.add_argument("--disable-infobars")


def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "/Users/jahirmunguia/Dropbox/TECMC201811DATA2/ETL-Project/chromedriver"}
    return Browser("chrome", **executable_path, headless=False, incognito=True)
    
browser = init_browser()
browser.driver.maximize_window()

url = "https://intelligence.speedtest.net/#login"

browser.visit(url)
	
time.sleep(2)

browser.find_by_tag('button').click()

time.sleep(2)

browser.fill('email', '{email}')
browser.fill('password', '{password}')

browser.find_by_tag('button').click()

time.sleep(2)

url2 = "https://account.ookla.com/"

browser.visit(url2)

browser.find_by_text('Go To Servers').click()

time.sleep(1)

browser.find_by_text('Reporting').click()

time.sleep(1)

#Web Data


browser.find_by_id('date').click()

time.sleep(1)

browser.find_by_id('months').click()

#browser.find_by_css('h1[class="site-headline"] img')

time.sleep(1)

browser.find_by_css('button[class="_1lQLs HpSTk"]').first.click()

 #date#date


browser.find_by_id('quarter1').click()

time.sleep(1)

browser.find_by_text('Export').click()
time.sleep(100)
#browser.find_by_text('Export').click()


# Quite the browser after scraping
browser.quit()

# Result of Scraping

<img src="Scrapping.gif">

# Using Pandas to munging the data


> In fact the data are well structured, we just need to verify that there are not duplicated information and we will use buckets to classify the customer per bandwidth download result.

In [48]:
import pandas as pd
import glob
import gc
import pymongo

In [49]:
gc.collect()

7380152

In [51]:
files = glob.glob('files/*.csv')

In [52]:
#This will be all the files that we sill merge in a Data Frame using pandas, 
#those files was savec by the scrapping that we ran above
files

['files/speedtest-results-dec-ios.csv',
 'files/speedtest-results-dec-web.csv',
 'files/speedtest-results-dec-android.csv']

In [53]:
df = pd.concat([pd.read_csv(f, encoding='utf-8',sep = ",") for f in files], sort = False)

In [54]:
df.head()

,resultDate,ipAddress,country,region,city,latitude,longitude,serverId,serverName,userAgent,connectionType,ispName,ispNameRaw,download (Kbps),upload (Kbps),ping (ms),jitter,testId
0,2018-12-29T23:59:55.000Z,187.189.*.*,Mexico,Jalisco,Zapopan,20.692,-103.448,8880,Tlaquepaque,iPhone,Wifi,Totalplay,Totalplay,40734.0,19196.0,3,NaN,30212640-72ab-c7ae-g2b2-adc7aeg2b2ad
1,2018-12-29T23:59:51.000Z,187.188.*.*,Mexico,Yucatan,San Isidro,20.742,-89.575,8871,Cancun,iPhone,Wifi,Totalplay,Totalplay,3479.0,NaN,125,NaN,30212639-65ab-f6jd-g2b2-adf6jdg2b2ad
2,2018-12-29T23:59:37.000Z,189.224.*.*,Mexico,Nuevo Leon,Guadalupe,25.683,-100.259,8779,Apodaca,iPhone,Wifi,Telmex,Telmex,35677.0,10412.0,33,NaN,30212637-02ab-c0hd-g2b2-adc0hdg2b2ad
3,2018-12-29T23:59:36.000Z,189.160.*.*,Mexico,Nuevo Leon,Ciudad de Allende,25.262,-99.994,8779,Apodaca,iPhone,Wifi,Telmex,Telmex,12981.0,3556.0,29,NaN,30212636-89ab-j8gd-g2b2-adj8gdg2b2ad
4,2018-12-29T23:59:34.000Z,187.190.*.*,Mexico,Jalisco,Guadalajara,20.673,-103.298,8880,Tlaquepaque,iPhone,Wifi,Totalplay,Totalplay,58153.0,6664.0,3,NaN,30212636-36ab-g3gd-g2b2-adg3gdg2b2ad

In [55]:
# We eliminate the duplicity by the Id Test which is a unique id to avoid duplicates.
df_drop_duplicates = df.drop_duplicates(subset = ['testId'])

In [56]:
df_drop_duplicates.columns

Index(['resultDate', 'ipAddress', 'country', 'region', 'city', 'latitude',
       'longitude', 'serverId', 'serverName', 'userAgent', 'connectionType',
       'ispName', 'ispNameRaw', 'download (Kbps)', 'upload (Kbps)',
       'ping (ms)', 'jitter', 'testId'],
      dtype='object')

In [57]:
df_drop_duplicates.columns = ['resultDate', 'ipAddress', 'country', 'region', 'city', 'latitude',
       'longitude', 'serverId', 'serverName', 'userAgent', 'connectionType',
       'ispName', 'ispNameRaw', 'download', 'upload',
       'ping', 'jitter', 'testId'] # Set Column Names

In [31]:
df_drop_duplicates.head()

,resultDate,ipAddress,country,region,city,latitude,longitude,serverId,serverName,userAgent,connectionType,ispName,ispNameRaw,download,upload,ping (ms),jitter,testId,bucket
0,2018-12-29T23:59:58.000Z,189.202.*.*,Mexico,Chihuahua,Ciudad Juárez,31.663,-106.441,16214,Ciudad Juarez,Android Phone,Wifi,izzi,izzi,12474.0,980.0,72,23.5,45547696-20ab-a2gj-g7e5-fea2gjg7e5fe,10-20
1,2018-12-29T23:59:52.000Z,187.190.*.*,Mexico,Yucatan,Mérida,20.953,-89.574,9176,Merida,Android Phone,Wifi,Totalplay,Totalplay,20480.0,16402.0,5,1.8,45547694-73ab-d7ej-g7e5-fed7ejg7e5fe,20-30
2,2018-12-29T23:59:42.000Z,200.68.*.*,Mexico,Baja California,La Morita,31.984,-116.636,3955,Tijuana,Android Phone,Wifi,Telcel,Telcel,8574.0,9420.0,106,9.2,45547692-36ab-g3cj-g7e5-feg3cjg7e5fe,5-10
3,2018-12-29T23:59:33.000Z,189.150.*.*,Mexico,Quintana Roo,Nicte-Ha,21.196,-86.874,8871,Cancun,Android Phone,Wifi,Telmex,Telmex,8273.0,6953.0,7,8.5,45547689-92ab-c9ji-g7e5-fec9jig7e5fe,5-10
4,2018-12-29T23:59:29.000Z,187.190.*.*,Mexico,Querétaro,Querétaro City,20.639,-100.414,8880,Tlaquepaque,Android Phone,Wifi,Totalplay,Totalplay,50215.0,19875.0,8,0.4,45547688-86ab-g8ii-g7e5-feg8iig7e5fe,50-100

In [58]:
df_drop_duplicates['download'].count() # Verify the amount of the registers that the DF contain

456056

In [59]:
# Create a buckets to make categories
df_drop_duplicates['bucket'] = pd.cut(df_drop_duplicates['download'], [0,1000,3000, 5000, 10000, 20000, 30000, 50000, 100000,200000], labels = ['0-1','1-3','3-5','5-10','10-20','20-30','30-50','50-100','>100' ] )

In [41]:
df_drop_duplicates.head()

,resultDate,ipAddress,country,region,city,latitude,longitude,serverId,serverName,userAgent,connectionType,ispName,ispNameRaw,download,upload,ping,jitter,testId,bucket
0,2018-12-29T23:59:58.000Z,189.202.*.*,Mexico,Chihuahua,Ciudad Juárez,31.663,-106.441,16214,Ciudad Juarez,Android Phone,Wifi,izzi,izzi,12474.0,980.0,72,23.5,45547696-20ab-a2gj-g7e5-fea2gjg7e5fe,10-20
1,2018-12-29T23:59:52.000Z,187.190.*.*,Mexico,Yucatan,Mérida,20.953,-89.574,9176,Merida,Android Phone,Wifi,Totalplay,Totalplay,20480.0,16402.0,5,1.8,45547694-73ab-d7ej-g7e5-fed7ejg7e5fe,20-30
2,2018-12-29T23:59:42.000Z,200.68.*.*,Mexico,Baja California,La Morita,31.984,-116.636,3955,Tijuana,Android Phone,Wifi,Telcel,Telcel,8574.0,9420.0,106,9.2,45547692-36ab-g3cj-g7e5-feg3cjg7e5fe,5-10
3,2018-12-29T23:59:33.000Z,189.150.*.*,Mexico,Quintana Roo,Nicte-Ha,21.196,-86.874,8871,Cancun,Android Phone,Wifi,Telmex,Telmex,8273.0,6953.0,7,8.5,45547689-92ab-c9ji-g7e5-fec9jig7e5fe,5-10
4,2018-12-29T23:59:29.000Z,187.190.*.*,Mexico,Querétaro,Querétaro City,20.639,-100.414,8880,Tlaquepaque,Android Phone,Wifi,Totalplay,Totalplay,50215.0,19875.0,8,0.4,45547688-86ab-g8ii-g7e5-feg8iig7e5fe,50-100

In [60]:
df_drop_duplicates = df_drop_duplicates.dropna(subset=['download']) # Verify that there aren't null data

In [61]:
df_drop_duplicates = df_drop_duplicates.dropna(subset=['upload']) # Verify that there aren't null data

In [62]:
df_drop_duplicates['download'].count() # Verify the amount of the registers that the DF contain after the cleaning

454971

In [63]:
df_drop_duplicates.head()

,resultDate,ipAddress,country,region,city,latitude,longitude,serverId,serverName,userAgent,connectionType,ispName,ispNameRaw,download,upload,ping,jitter,testId,bucket
0,2018-12-29T23:59:55.000Z,187.189.*.*,Mexico,Jalisco,Zapopan,20.692,-103.448,8880,Tlaquepaque,iPhone,Wifi,Totalplay,Totalplay,40734.0,19196.0,3,NaN,30212640-72ab-c7ae-g2b2-adc7aeg2b2ad,30-50
2,2018-12-29T23:59:37.000Z,189.224.*.*,Mexico,Nuevo Leon,Guadalupe,25.683,-100.259,8779,Apodaca,iPhone,Wifi,Telmex,Telmex,35677.0,10412.0,33,NaN,30212637-02ab-c0hd-g2b2-adc0hdg2b2ad,30-50
3,2018-12-29T23:59:36.000Z,189.160.*.*,Mexico,Nuevo Leon,Ciudad de Allende,25.262,-99.994,8779,Apodaca,iPhone,Wifi,Telmex,Telmex,12981.0,3556.0,29,NaN,30212636-89ab-j8gd-g2b2-adj8gdg2b2ad,10-20
4,2018-12-29T23:59:34.000Z,187.190.*.*,Mexico,Jalisco,Guadalajara,20.673,-103.298,8880,Tlaquepaque,iPhone,Wifi,Totalplay,Totalplay,58153.0,6664.0,3,NaN,30212636-36ab-g3gd-g2b2-adg3gdg2b2ad,50-100
5,2018-12-29T23:59:32.000Z,187.190.*.*,Mexico,State of Mexico,San Miguel Totocuitlapilco,19.228,-99.581,8150,Coyoacan,iPhone,Wifi,Totalplay,Totalplay,47262.0,20018.0,6,NaN,30212635-92ab-c9fd-g2b2-adc9fdg2b2ad,30-50

In [45]:
df.to_csv('Q4-2018-Speedtest.csv')

# Insert the data into a MySql Database

In [64]:
import psycopg2
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:b30rn0tt0b3@localhost:5432/Speedtest')
#df_drop_duplicates.to_sql('Speedtest',engine)

df_drop_duplicates.to_sql('SpeedtestQ4', engine)

<img src="Querydb.png">

In [65]:
# We validate that the amount of the registers in the data frame are equal than the DB

In [66]:
df_drop_duplicates['download'].count()

454971

<img src="RegistersDB.png">